@{
    ViewData["Title"] = "Home";
}

<div class="container main-container">
    <br />
    <h4>Atenção!</h4>
    <br />
    <p>
        Essa é uma aplicação web em ASP.NET core, consumindo um web api https://api.chucknorris.io/. <br />
        O propósito desta aplicação é APENAS demonstrar isso, simples assim...sem miMimi.
    </p>
</div>